.root {
    -fx-background-color: #222;
    -fx-background-radius: 20;
}

.mainPane {
    -fx-background-color: linear-gradient(to bottom right,  #1E90FF, #00008B);
    -fx-background-radius: 15 15 25 25;
}

.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 15;
}